[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Theme Switcher Tray
Comment=Quick switch favourites theme
Exec=theme-switcher-tray
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

